<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBEYIXIqqRCU8qrniMzGasbI4Z41Dtut0A</string>
	<key>GCM_SENDER_ID</key>
	<string>693177124569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.casualNetvorking.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>casual-networking</string>
	<key>STORAGE_BUCKET</key>
	<string>casual-networking.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693177124569:ios:ecb4a0f43624ad7ca620c8</string>
</dict>
</plist>